<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Monitoramento" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h4 class="card-title flex-grow-1 mb-2">
                    Inconformidades por Setor
                  </h4>
                  <client-select class="h-[50px] ml-3" (valueChange)="onClientChange($event)"></client-select>
                </div>
                <div class="col">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            @if (loading) {
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
              </div>
            }
            @else {
              <div class="d-flex flex-wrap gap-2">
                @for (item of reportData; track item.id) {
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{item.companyName}}</h5>
                      <p class="card-text">Inconformidades: {{getInconformityCount(item)}}</p>
                    </div>
                  </div>
                }
              </div>
            }
          </div><!-- end card-body -->
      </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

