<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Monitoramento" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<div class="container">
					<div class="row">
						<div class="col">
							<h4 class="card-title flex-grow-1 mb-2">
								Inconformidades por Setor
							</h4>
							<client-select class="h-[50px] ml-3" (valueChange)="onClientChange($event)"></client-select>
						</div>
						<div class="col">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="card-body">
				@if (loading) {
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Carregando...</span>
				</div>
				}
				@else {
					@if (viewMode === 'client') {
						<app-breadcrumbs title="Inconformidades em casa setor {{selectedSector()?.companyName}}" [breadcrumbItems]="[
							{ label: currClient?.companyName, active: true},
						]"></app-breadcrumbs>
						<div class="d-flex flex-wrap gap-2">
							@for (item of reportData(); track item.id) {
							<div class="card" style="width: 15rem;">
								<div class="card-body">
									<h5 class="card-title">{{item.companyName}}</h5>
									<p class="card-text text-info">{{item.businessName}}</p>
									<div class="card-text">
										<button type="button" class="btn btn-secondary" (click)="selectCostCenter(item)">
											Inconformidades <span class="badge bg-dark">{{getInconformityCount(item)}}</span>
										</button>
									</div>
								</div>
							</div>
							}
						</div>
					}
					@else if (viewMode === 'sector') {
						<app-breadcrumbs title="Inconformidades no setor {{selectedSector()?.companyName}}" [breadcrumbItems]="[
							{ label: currClient?.companyName},
							{ label: selectedSector()?.companyName, active: true }
						]"></app-breadcrumbs>
						<div class="d-flex flex-wrap gap-2">
							@for (form of selectedSector()?.forms; track form.id) {
							<div class="card" style="width: 15rem;">
								<div class="card-body">
									<h5 class="card-title">{{form.title}}</h5>
									<!-- <p class="card-text text-info">{{item.cnpj | cpfCnpj}}</p> -->
									<div class="card-text">
										<button type="button" class="btn btn-secondary" (click)="selectForm(form)">
											Inconformidades <span class="badge bg-dark">{{form.executions.length}}</span>
										</button>
									</div>
								</div>
							</div>
							}
						</div>
					}
					@else if (viewMode === 'form') {
						<app-breadcrumbs title="Inconformidades no formulário {{selectedForm()?.title}}" [breadcrumbItems]="[
							{ label: currClient?.companyName},
							{ label: selectedSector()?.companyName },
							{ label: selectedForm()?.title, active: true }
						]"></app-breadcrumbs>
						<app-execution-table-list [items]="selectedForm()?.executions" [form]="selectedForm()" [deleteAllowed]="false"></app-execution-table-list>
					}
				}
			</div><!-- end card-body -->
		</div><!-- end card -->
	</div>
	<!-- end col -->
</div>
<!-- end row -->